<h3>
  rxjs works!
</h3>
<h5>CONSTRUCTORS</h5>
<div class="row">
  <span>
    value$:
    <pre> {{ value$ | async }} </pre>
  </span>
  <span>
    stream$:
    <pre> {{ stream$ | async }} </pre>
  </span>
  <span>
    list$:
    <pre> {{ list$ | async }} </pre>
  </span>
</div>
<h5>STREAMS</h5>
<div class="row">
  <span>
    subject$:
    <pre> {{ subject$ | async }} </pre>
  </span>
  <span>
    behavior$:
    <pre> {{ behaviorSubject$ | async }} </pre>
  </span>
  <span>
    replay$:
    <pre> {{ replaySubject$ | async }} </pre>
  </span>
  <span>
    async$:
    <pre> {{ asyncSubject$ | async }} </pre>
  </span>
</div>
<h5>SUBSCRIPTIONS</h5>
<div class="row">
  <span>
    subject:
    <pre> {{ subjectObs }} </pre>
  </span>
  <span>
    behavior:
    <pre> {{ behaviorSubjectObs }} </pre>
  </span>
  <span>
    replay:
    <pre> {{ replaySubjectObs }} </pre>
  </span>
  <span>
    async:
    <pre> {{ asyncSubjectObs }} </pre>
  </span>
</div>
<h5>OPERATORS</h5>
<div class="row">
  <span>
    opByTen:
    <pre> {{ opByTen }} </pre>
  </span>
  <span>
    opEven:
    <pre> {{ opEven }} </pre>
  </span>
  <span>
    opCombo:
    <pre> {{ opCombo }} </pre>
  </span>
  <span>
    opPlus:
    <pre> {{ opPlus }} </pre>
  </span>
</div>
