<h2>
  Change detection samples
</h2>
<nav>
  <ul>
    <li>
      <a [routerLink]="['./detector']"
         routerLinkActive="router-link-active">Detector</a>
    </li>
    <li>
      <a [routerLink]="['./family']"
         routerLinkActive="router-link-active">Family</a>
    </li>
    <li>
      <a [routerLink]="['./async']"
         routerLinkActive="router-link-active">Async</a>
    </li>
    <li>
      <a [routerLink]="['./subscribe']"
         routerLinkActive="router-link-active">Subscribe</a>
    </li>
  </ul>
</nav>
